
<style>
table, th, td {
  border: 1px solid black;
}
</style>

<select id='model'></select>
<select id='groupby'></select>
<button id='submit'>Submit</button>


<div id="table">
  <table id="count-table">

  </table>
</div>



<div id="canvas-div">
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js'></script>





<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="/javascripts/script.js"></script>
