<style>
table, th, td {
  border: 1px solid black;
}
</style>


<div id="table">
  <table id="count-table">

  </table>
</div>









<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="/javascripts/script.js"></script>
